.section-depoimentos{
    background-color: lightgreen;
}

.titulo-depoimentos{
    margin-left: 25px;
    padding-top: 15px;
}

.row-depoimentos{
    padding: 50px;
}

.depoimento{
    border: solid 1px;
    margin: 10px;
    background-color: lime; 
}

.depoimento img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}